<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesindex.css">
    <title>Document</title>
</head>
<body>
    <header><nav>
      <header>

        <nav class="navbar  navbar-expand-md bg-dark d-flex">
            <div class="logoo">
                <img src="img/logo.png" alt="logo de NHP Creaciones">
            </div>

            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#desplega">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>


            <div id="desplega" class="collapse navbar-collapse">
                <div class="d-flex justify-content-center" id="buscado">
                    <input type="search" class="search" id="buscador" placeholder="Buscar">
                </div>

                <div id="labarra">
                    <ul class="navbar-nav container justify-content-around flex-nowrap">
                        <li class="nav-item active"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Tienda</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Ofertas</a></li>
                        <li class="nav-item separa"><a href="" class="nav-link">
                                <lord-icon src="https://cdn.lordicon.com/tdvuekwf.json" trigger="hover"
                                    colors="primary:#ffffff,secondary:#fdd900" class="lordicon">
                                </lord-icon>Registrarme
                            </a>
                        </li>
                        <li class="nav-item"><a href="" class="nav-link">
                                <lord-icon src="https://cdn.lordicon.com/zczmziog.json" trigger="hover"
                                    colors="primary:#ffffff,secondary:#fdd900" class="lordicon">
                                </lord-icon>Ingresar
                            </a></li>

                    </ul>
                </div>
            </div>




        </nav>

    </header>
    </nav></header>
    <section class="carousel center-aling">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/PORTADA_FIFA_22.jfif" class="d-block w-100" alt="500" >
              </div>
              <div class="carousel-item">
                <img src="img/PORTADA_BATTLEFIELD_2042.jpg" class="d-block w-100" alt="500" >
              </div>
              <div class="carousel-item">
                <img src="img/PORTADA_METRO_EXODUS.jpg" class="d-block w-100" alt="500" >
              </div>
              <div class="carousel-item">
                <img src="img/PORTADA_DEAD_BY_DEADLIGHT.webp" class="d-block w-100" alt="500" >
              </div>
              <div class="carousel-item">
                <img src="img/portadaanba.jpg" class="d-block w-100" alt="500" >
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        
    </section>
<section class="Gaming"><h1>Gaming</h1>
<img src="img/BATTLEFIELD_2042.jpg" alt="" width="400">
<img src="img/EURO_TRUCK_SIMULATOR.jpg" alt="" width="400">
<img src="img/FARMING_SIMULATOR.jpg" alt="" width="400">
<img src="img/NBA2K_22.jpeg" alt="" width="400">
<img src="img/FIFA_22.jpeg" alt="" width="400">
<img src="img/METRO_EXODUS.jpeg" alt="" width="400">
<img src="img/DEAD_BY_DEADLIGHT.jpeg" alt="" width="400"></section>
<section class="Software"><h1>Software</h1>
<img src="img/ilustrator.jpg" alt="">
<img src="img/CODIGO_PLAYSTATION.jpeg" alt="">
<img src="img/windows_10_pro.jpg" alt="">
<img src="img/CLAVE_STEAM.jpeg" alt="">
<img src="img/photoshop.jpg" alt="">
<img src="img/Office.png" alt="">
<img src="img/xbox gift card.jpeg" alt=""></section>


<footer>
 <div>
   <p>Metodos de Pago:</p>
   <img src="img/pagofacil.svg" alt="PagoFacil">
   <img src="img/rapipago.svg" alt="rapipago">
   <img src="img/visa.svg" alt="Visa">
   <img src="img/mastercard.svg" alt="MasterCard">
   <img src="img/paypal.svg" alt="paypal">
 </div>
 <div>
   <img src="img/facelogo.webp" alt="Facebook">
   <img src="img/instalogo.webp" alt="Instagram">
   <img src="img/twitter logo.webp" alt="Twitter">
 </div>

 <div>
   <p>Login</p>
   <p>Register</p>
   <p>Ver Carrito</p>
 </div>
</footer>


</body>
</html>