<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/stylesLogin.css">
    <title>Document</title>
</head>
<body>   <nav>  <img src="img/Logo.png" class="logo">
    <input type="search" class="buscador">
    <i class="fas fa-bars"></i>
    <ul><li><a href="index">Home</a></li>
    <li><a href="productCart">Carrito</li></a>
    <li><a href="login">Login</li></a>
    </ul>
</nav></header>
<section>
    <ul>
        <li>Usuario <br>
            <input type="text"></li>
        <li>Contraseña<br>
            <input type="password"></li>
    </ul>
    <a href="register" class="registro">Registrate acá</a>
    <a href="forgot" class="registro">¿Olvidaste tu contraseña?</a>
</section>
    
</body>
</html>