<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesProductDetail.css">
    <title>Detalle del Producto</title>
</head>
<body>
  <header>
    <nav class="navbar  navbar-expand-md  d-flex">
        <div class="logoo">
            <img src="img/Logo.png" alt="logo de NHP Creaciones">
        </div>

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#desplega">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>


        <div id="desplega" class="collapse navbar-collapse">
            <div class="d-flex justify-content-center" id="buscado">
                <input type="search" class="search" id="buscador" placeholder="Buscar">
            </div>

            <div id="labarra">
                <ul class="navbar-nav container justify-content-around flex-nowrap">
                    <li class="nav-item active"><a href="" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Tienda</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Ofertas</a></li>
                    <li class="nav-item separa"><a href="" class="nav-link">
                            <lord-icon src="https://cdn.lordicon.com/tdvuekwf.json" trigger="hover"
                                colors="primary:#ffffff,secondary:#fdd900" class="lordicon">
                            </lord-icon>Registrarme
                        </a>
                    </li>
                    <li class="nav-item"><a href="" class="nav-link">
                            <lord-icon src="https://cdn.lordicon.com/zczmziog.json" trigger="hover"
                                colors="primary:#ffffff,secondary:#fdd900" class="lordicon">
                            </lord-icon>Ingresar
                        </a></li>

                </ul>
            </div>
        </div>

    </nav>

</header>
<div class="producto">
<div class="tituloProducto">
      <h1 class="modelo"> FIFA 22 Edición Estándar para PS4 </h1>
    </div>
        <div class="fotoProducto">
          <img src="img/FIFA_22.jpeg"alt= "PS4Fifa2022">
        </div>
      <div class="Precio">
        <label class="precio">Precio:</label> <span class="pesos">$9.000</span> 
        </div></div>

        <div class="Carrito">    
            <input type="submit" class="AgregarCarrito" value="Agregar al Carrito">            
          </div>    
          <div class="Inicio">    
            <input type="submit" class="VolverHome" value="Volver al inicio">            

          </div>    
          
          <footer></footer>
</body>
</html>