<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>     <img src="img/Logo.png">
    <input type="search">
    <ul><li><a href="index.html">Home</a></li>
    <li><a href="productCart.html">Carrito</li></a>
    <li><a href="login.html">Login</li></a>
    </ul>
</nav></header>
<input type="text">Nombre
<input type="text">Apellido
<input type="email">Email
<input type="password">Contraseña
<input type="password">Repite la contraseña
<input type="text">Dirección
<input type="text">Piso/departamento
<input type="text">Provincia
<input type="text">Código postal
<input type="tel">Teléfono
<input type="submit" value="Enviar!">
    
</body>
</html>