* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #606c88;
}



.contenedor-main {
    position: relative;

}


main.imagen-main {
    position: relative;
}


.titulo {
    position: absolute;
    bottom: 60px;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;

}

.titulo h1 {
    font-size: 3rem;
    color: white;
}

.titulo-juegos {
    bottom: 0px;
    background-color: rgba(96, 108, 136, 0.9);
    width: 100%;
    margin: auto;
    left: 0;
}

.card-title {
    color: white;
    text-align: left;
    font-size: 1.5rem;
    ;
}

.card-text {
    color: white;
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
}

.card {
    margin-top: 10px;
}

.categorias {
    color: white;
    font-size: 1.8rem;
    padding-left: 8px;
    margin-top: 40px;
    box-shadow: 1px -1px 3px 3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 1px -1px 3px 3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 1px -1px 3px 3px rgba(0, 0, 0, 0.58);
    width: 80vw;
}

.categoriassoft {
    color: white;
    font-size: 1.8rem;
    padding-left: 8px;
    margin-top: 40px;
    box-shadow: 1px -1px 3px 3px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 1px -1px 3px 3px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 1px -1px 3px 3px rgba(0, 0, 0, 0.58);
    width: 10%;
}

.pagos {
    width: 100vw;
    text-align: center;
    margin-top: 40px;
}

.pagos img {
    width: 15vw;
    height: 15vw;
    text-align: center;
}

.redes {
    width: 100vw;
    text-align: center;
    margin-top: 20px;
    border-top: 2px solid rgb(255, 255, 255);
    padding-bottom: 20px;
}

.redes img {
    width: 15vw;
    height: 15vw;
    text-align: center;
    margin-left: 4px;
    margin-top: 25px;

}

.carritodecompras {
    position: fixed;
    right: 5px;
    bottom: 350px;
    z-index: 60;
    background-color: black;
    padding: 7px;
    border-radius: 50%;
}

.carritodecompras i {
    color: white;
    font-size: 1.5rem;
}

footer {
    background-color: #808daa;
}




@media (min-width: 768px) {








    header nav ul li a {

        font-size: 1rem;
        ;
    }

    header .lordicon {
        display: inline-block;
        font-size: 1rem;
        width: 100%;

    }

    header #buscado {
        width: 70%;
        margin-top: 20px;
        ;

    }

    header .separa {
        border-left: 1px solid #fdd900;
    }

    header #labarra {
        width: 40vw;
    }

    header #buscado input {
        width: 70%;
    }

    header nav {
        flex-wrap: nowrap;
    }

    header nav ul li a:hover {
        color: #fdd900 !important;
    }

}




@media (min-width: 1200px) {}

/* ************************************** EMPIEZA EL CSS DEL LOGIN *********************************************************/





/* Aca el login */
.login input {
    border-bottom: solid white 2px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0px 20px;
    color: white;
    margin-bottom: 20px;
    outline: none;
    height: 50px;
    width: 50vw;
    margin-right: 0px;
    flex-direction: column;
}



::placeholder {
    color: white
}

.boton {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    height: 50px;
    width: 25vw;
    letter-spacing: 1px;
    justify-content: space-around;
}

.login__container {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.registro {
    font-style: italic;
    display: block;
    text-align: center;
    font-size: 0.8rem;
}

section ul {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section ul li {
    display: flex;
    font-size: 1rem;
    color: white;
    justify-content: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
    flex-direction: column;
}

.recuerdame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25vw;
    align-items: center;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px
}

.Facebook {
    border: solid 1px #3b5998;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.3rem;
    font-size: 1rem;
    margin: 1rem;
    background-color: #3b5998;
    height: 7.5vh;
    width: 50vw;
}

.fa-facebook {
    background-color: #3b5998;
    width: 2.5vw;
    font-size: 1.8rem;
    padding-right: 45px;
}

.Google {
    border: solid 1px #3b5998;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.3rem;
    font-size: 1rem;
    margin: 1rem;
    background-color: #4285F4;
    height: 7.5vh;
    width: 50vw;
    text-align: left;
}

.svg-icon {
    background-color: white;
    border-radius: 50%;
    width: 5vw;
    height: auto;
    text-align: left;
    font-size: 3rem;
    justify-content: space-evenly;
}

/* *************** FINAL CSS DEL LOGIN ****************************/





/********************************** ACA ARRANCA EL STYLE PRODUCTS Detail CSS *************************************/



body {
    width: 100wv;
    background-color: #606c88;
}

.producto {
    margin-top: 80px !important;
}

.pagos {
    width: 100vw;
    text-align: center;
    margin-top: 40px;
}

.pagos img {
    width: 15vw;
    height: 15vw;
    text-align: center;
}

.redes {
    width: 100vw;
    text-align: center;
    margin-top: 20px;
    border-top: 2px solid rgb(255, 255, 255);
    padding-bottom: 20px;
}

.redes img {
    width: 15vw;
    height: 15vw;
    text-align: center;
    margin-left: 4px;
    margin-top: 25px;

}

.card-img-top {
    width: 90%;
    height: auto;
    margin: auto;
}

.articulos {
    position: relative;
    width: 90vw;
    margin-top: 10px;
    box-shadow: -1px -1px 12px 1px rgba(133, 133, 133, 0.93);
    -webkit-box-shadow: -1px -1px 12px 1px rgba(133, 133, 133, 0.93);
    -moz-box-shadow: -1px -1px 12px 1px rgba(133, 133, 133, 0.93);
    top: 80px;

}

.fa-times-circle {
    position: absolute;
    top: 10px;
    right: 10px;


}

.card-horizontal {
    padding-top: 10px;
    padding-bottom: 10px;
}

.descripcionjuego {
    padding-top: 20px;
    color: white;
}

.card-text {
    font-weight: bold;
    font-size: 3rem;
    color: white;

}


.botones {
    color: white;
    position: relative;
    margin-top: 100px;
    white-space: unset;
    margin-bottom: -40px;
}

footer {
    margin-top: 90px;
}


@media (min-width: 768px) {








    header nav ul li a {

        font-size: 1rem;
        ;
    }

    header .lordicon {
        display: inline-block;
        font-size: 1rem;
        width: 100%;

    }

    header #buscado {
        width: 70%;
        margin-top: 20px;
        ;

    }

    header .separa {
        border-left: 1px solid #fdd900;
    }

    header #labarra {
        width: 40vw;
    }

    header #buscado input {
        width: 70%;
    }

    header nav {
        flex-wrap: nowrap;
    }

    header nav ul li a:hover {
        color: #fdd900 !important;
    }

}


/********************************** Termina ARRANCA EL STYLE PRODUCTS Detail CSS *************************************/


/********************************* EMPEZA PRODUCTS CART CSS *******************************************/

body {
    width: 100wv;
    background-color: #606c88;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 30;
    top: 0%;
}

header nav {
    background: rgba(96, 108, 136, 0, 1) !important;
    position: fixed;
    z-index: 20;
}

header .bg-dark {
    background-color: rgba(96, 108, 136, 0, 1) !important;
    --bs-bg-opacity: 0.8;


}


header i.fas.fa-bars {
    color: white;
    font-size: 1.5rem;


}

header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

header .nav-link {
    color: white !important;
}


header nav ul li {
    text-align: center;
    width: 100vw;
    margin-top: 5px;
}

header .lordicon {
    display: none;
}



header .logoo img {
    flex-grow: 1;
    padding: 5px 15px;
    width: 100px;
    height: auto;
}

header #buscador {
    background: #606c88;
    /* fallback for old browsers / background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  / Chrome 10-25, Safari 5.1-6 / background: linear-gradient(to right, #3f4c6b, #606c88); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    outline: none;
}



header #buscador:focus ::placeholder {
    color: white;


}

header .navbar {
    padding: 0 0 !important;
}

header #desplega {
    margin: auto;
    width: 100%;
}

.pagos {
    width: 100vw;
    text-align: center;
    margin-top: 40px;
}

.pagos img {
    width: 15vw;
    height: 15vw;
    text-align: center;
}

.redes {
    width: 100vw;
    text-align: center;
    margin-top: 20px;
    border-top: 2px solid rgb(255, 255, 255);
    padding-bottom: 20px;
}

.redes img {
    width: 15vw;
    height: 15vw;
    text-align: center;
    margin-left: 4px;
    margin-top: 25px;

}

.card-img-top {
    width: 90%;
    height: auto;
    margin: auto;
}

.articulos {
    position: relative;
    width: 90vw;
    margin-top: 10px;
    box-shadow: -1px -1px 12px 1px rgba(133, 133, 133, 0.93);
    -webkit-box-shadow: -1px -1px 12px 1px rgba(133, 133, 133, 0.93);
    -moz-box-shadow: -1px -1px 12px 1px rgba(133, 133, 133, 0.93);
    top: 80px;

}

.fa-times-circle {
    position: absolute;
    top: 10px;
    right: 10px;


}

.card-horizontal {
    padding-top: 10px;
    padding-bottom: 10px;
}

.descripcionjuego {
    padding-top: 20px;
    color: white;
}

.card-text {
    font-weight: bold;
    font-size: 3rem;
    color: white;

}


.botones {
    color: white;
    position: relative;
    margin-top: 100px;
    white-space: unset;
    margin-bottom: -40px;
}

footer {
    margin-top: 90px;
}


@media (min-width: 768px) {








    header nav ul li a {

        font-size: 1rem;
        ;
    }

    header .lordicon {
        display: inline-block;
        font-size: 1rem;
        width: 100%;

    }

    header #buscado {
        width: 70%;
        margin-top: 20px;
        ;

    }

    header .separa {
        border-left: 1px solid #fdd900;
    }

    header #labarra {
        width: 40vw;
    }

    header #buscado input {
        width: 70%;
    }

    header nav {
        flex-wrap: nowrap;
    }

    header nav ul li a:hover {
        color: #fdd900 !important;
    }

}




@media (min-width: 1200px) {}

/* ****************************************** ACA TERMINA PRODUCT CART *****************************************/



/* ******************************************* ACA EMPIEZA EL REGISTER *****************************************/
/*Aca empieza el header */
header {
    position: fixed;
    width: 100vw;
    z-index: 30;
}

header nav {
    background: rgba(96, 108, 136, 0.9) !important;
    position: fixed;
    z-index: 20;
}

header .bg-dark {
    background-color: rgba(96, 108, 136, 0.9) !important;
    --bs-bg-opacity: 0.8;
}

header i.fas.fa-bars {
    color: white;
    font-size: 1.5rem;
}

header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

header .nav-link {
    color: white !important;
}

header nav ul li {
    text-align: center;
    width: 100vw;
    margin-top: 5px;
}

header .lordicon {
    display: none;
}

header .logoo img {
    flex-grow: 1;
    padding: 5px 15px;
    width: 100px;
    height: auto;
}

header #buscador {
    background: #606c88;
    /* fallback for old browsers / background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  / Chrome 10-25, Safari 5.1-6 / background: linear-gradient(to right, #3f4c6b, #606c88); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    outline: none;
}

header #buscador:focus ::placeholder {
    color: white;
}

header .navbar {
    padding: 0 0 !important;
}

header #desplega {
    margin: auto;
    width: 100%;
}

.bg-dark {
    background-color: white !important;
}

i.fas.fa-bars {
    color: red;
}

i.fas.fa-bars {
    color: white;
    font-size: 1.5rem;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.nav-link {
    color: white !important;
}

nav ul li {
    text-align: center;
    width: 100vw;
    margin-top: 5px;
}

.lordicon {
    display: none;
}

.logoo img {
    flex-grow: 1;
    padding: 5px 15px;
    width: 100px;
    height: auto;
}

#buscador {
    background: #606c88;
    /* fallback for old browsers / background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  / Chrome 10-25, Safari 5.1-6 / background: linear-gradient(to right, #3f4c6b, #606c88); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    outline: none;
}

#buscador:focus ::placeholder {
    color: white;
}

.navbar {
    padding: 0 0 !important;
}

#desplega {
    margin: auto;
    width: 100%;
}

.pagos {
    width: 100vw;
    text-align: center;
    margin-top: 40px;
}

.pagos img {
    width: 15vw;
    height: 15vw;
    text-align: center;
}

.redes {
    width: 100vw;
    text-align: center;
    margin-top: 20px;
    border-top: 2px solid rgb(255, 255, 255);
    padding-bottom: 20px;
}

.redes img {
    width: 15vw;
    height: 15vw;
    text-align: center;
    margin-left: 4px;
    margin-top: 25px;

}

@media (min-width: 768px) {
    nav ul li a {
        font-size: 1rem;
    }

    .lordicon {
        display: inline-block;
        font-size: 1rem;
        width: 100%;
    }

    #buscado {
        width: 70%;
        margin-top: 20px;
    }

    .separa {
        border-left: 1px solid #fdd900;
    }

    #labarra {
        width: 40vw;
    }

    #buscado input {
        width: 70%;
    }

    nav {
        flex-wrap: nowrap;
    }

    nav ul li a:hover {
        color: #fdd900;
    }

    header nav ul li a {

        font-size: 1rem;
        ;
    }

    header .lordicon {
        display: inline-block;
        font-size: 1rem;
        width: 100%;

    }

    header #buscado {
        width: 70%;
        margin-top: 20px;
        ;

    }

    header .separa {
        border-left: 1px solid #fdd900;
    }

    header #labarra {
        width: 40vw;
    }

    header #buscado input {
        width: 70%;
    }

    header nav {
        flex-wrap: nowrap;
    }

    header nav ul li a:hover {
        color: #fdd900 !important;
    }

}

nav {
    background: #606c88;
    /* fallback for old browsers / background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  / Chrome 10-25, Safari 5.1-6 / background: linear-gradient(to right, #3f4c6b, #606c88); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.caja input::placeholder {
    font-size: 0.8rem;
}

.bg-dark {
    background-color: white !important;
}

i.fas.fa-bars {
    color: red;
}

i.fas.fa-bars {
    color: white;
    font-size: 1.5rem;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.nav-link {
    color: white !important;
}

nav ul li {
    text-align: center;
    width: 100vw;
    margin-top: 5px;
}

.lordicon {
    display: none;
}

.logoo img {
    flex-grow: 1;
    padding: 5px 15px;
    width: 100px;
    height: auto;
}

#buscador {
    background: #606c88;
    /* fallback for old browsers / background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  / Chrome 10-25, Safari 5.1-6 / background: linear-gradient(to right, #3f4c6b, #606c88); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    outline: none;
}

#buscador:focus ::placeholder {
    color: white;
}

.navbar {
    padding: 0 0 !important;
}

#desplega {
    margin: auto;
    width: 100%;
}

@media (min-width: 768px) {
    nav ul li a {
        font-size: 1rem;
    }

    .lordicon {
        display: inline-block;
        font-size: 1rem;
        width: 100%;
    }

    #buscado {
        width: 70%;
        margin-top: 20px;
    }

    .separa {
        border-left: 1px solid #fdd900;
    }

    #labarra {
        width: 40vw;
    }

    #buscado input {
        width: 70%;
    }

    nav {
        flex-wrap: nowrap;
    }

    nav ul li a:hover {
        color: #fdd900;
    }
}

@media (min-width: 1200px) {}

/* Hasta aca el header */

/* empieza register */

body {
    background: #606c88;
}

input {
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.05);
    font-weight: bold;
    height: 50px;
    width: 50vw;
    letter-spacing: 1px;
    justify-content: space-around;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid white 1px;

}

.formulario {
    text-align: center;
    font-size: 0.5rem;
    width: 100vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario h4 {
    font-size: 2rem;
    margin-bottom: 2px;
    color: white;
    margin-top: 2px;
}

.formulario div {
    width: 60vw;
    padding: 10px;
    margin-bottom: 16px;
    font-size: 1rem;
}

.formulario .caja {
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.boton {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    height: 10vh;
    width: 50vw;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(5, 7, 151, 0.1);
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
}

.Provincia {
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    font-weight: bold;
    height: 50px;
    width: 50vw;
    letter-spacing: 1px;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: 500;
}

.tenesCuenta {
    font-size: 2rem;
    font-weight: bold;
}

:visited {
    color: white;
}

.tyc {
    font-size: 1rem;
    color: white;
}

form h4 {
    padding-top: 100px;
}

/* termina register */


/* empieza edit y new product */
.StockDisponible {
    padding: 2%;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    height: 50px;
    width: 50vw;
    letter-spacing: 1px;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: 500;
}

.cajaDescripcion {
    padding: 2%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    height: 90px;
    width: 50vw;
    letter-spacing: 1px;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: 500;
}

.botonEditProduct {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    height: 10vh;
    width: 50vw;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(5, 7, 151, 0.1);
    font-size: 1.3rem;
    font-weight: bold;
    justify-content: center;
}
.errores{
    margin-top: 20vh;
    justify-content: center;
    color: red;
    width: 30vw;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  }
/* termina edit y new product */

/****************************************************** ACA TERMNA EL REGISTER *****************************************