* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100wv;
    background-color: #606c88;
}

header{
    position: fixed;
    width: 100vw;
    z-index: 30;
    top: 0%;
}

 header nav {
    background: rgba(96, 108, 136, 0,1) !important;
position: fixed;
z-index: 20;
}

header .bg-dark {
    background-color: rgba(96, 108, 136, 0,1) !important;
    --bs-bg-opacity: 0.8;
    

}


header i.fas.fa-bars {
    color: white;
    font-size: 1.5rem;


}

header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

header .nav-link {
    color: white !important;
}


header nav ul li {
    text-align: center;
    width: 100vw;
    margin-top: 5px;
}

header .lordicon {
    display: none;
}



header .logoo img {
    flex-grow: 1;
    padding: 5px 15px;
    width:100px;
    height:auto;
}

header #buscador {
    background: #606c88;  /* fallback for old browsers / background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  / Chrome 10-25, Safari 5.1-6 / background: linear-gradient(to right, #3f4c6b, #606c88); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    outline: none;
}



header #buscador:focus ::placeholder{
    color: white;


}

header .navbar {
    padding: 0 0 !important;
}

header #desplega {
    margin: auto;
    width: 100%;
}

.pagos{
    width: 100vw;
    text-align: center;
    margin-top:40px ;
}
.pagos img{
    width: 15vw;
    height: 15vw;
    text-align: center;
}

.redes{
    width: 100vw;
    text-align: center;
    margin-top: 20px;
    border-top: 2px solid rgb(255, 255, 255);
}
.redes img{
    width: 15vw;
    height: 15vw;
    text-align: center;
    margin-left: 4px;
    margin-top: 25px;

}
.card-img-top{
    width: 30vw;
    height: auto;
}

.articulos{
    position: relative;
    width: 90vw;
    margin-top: 10px;
    box-shadow: -1px -1px 12px 1px rgba(133,133,133,0.93);
    -webkit-box-shadow: -1px -1px 12px 1px rgba(133,133,133,0.93);
    -moz-box-shadow: -1px -1px 12px 1px rgba(133,133,133,0.93);
    top: 80px;

 }

 .fa-times-circle{
     position: absolute;
     top: 10px;
     right: 10px;

    
 }
 .card-horizontal{
     padding-top: 10px;
     padding-bottom: 10px;
 }

 .descripcionjuego{
     padding-top: 20px;
     color: white;
 }

 .card-text{
     font-weight: bold;
     font-size: 3rem;
     color: darkslategray;
     
 }

 footer{
     margin-top: 90px;
 }


@media (min-width: 768px) {








    header nav ul li a {

        font-size: 1rem;
        ;
    }

    header .lordicon {
        display: inline-block;
        font-size: 1rem;
        width: 100%;

    }

    header #buscado {
        width: 70%;
        margin-top: 20px;
        ;

    }

    header .separa {
        border-left: 1px solid #fdd900;
    }

    header #labarra {
        width: 40vw;
    }

    header #buscado input {
        width: 70%;
    }

    header nav {
        flex-wrap: nowrap;
    }

    header nav ul li a:hover {
        color: #fdd900 !important;
    }

}




@media (min-width: 1200px) {


}