*{
    background-color: lightblue;
}

.Gaming{
    display: flex;
    width: auto;
    height: auto;
}

.Software{
    display: flex;
    width: 400px;
    height: auto;

    
}
 .carousel {
     width: 400;
     height: 800;
 }



