* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 background: linear-gradient(to right, #3ca55c, #b5ac49);
}

nav {
    background: #606c88;  /* fallback for old browsers / background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  / Chrome 10-25, Safari 5.1-6 / background: linear-gradient(to right, #3f4c6b, #606c88); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-dark {
    background-color: white !important;
}

i.fas.fa-bars {
    color: red;
}

i.fas.fa-bars {
    color: white;
    font-size: 1.5rem;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.nav-link {
    color: white !important;
}


nav ul li {
    text-align: center;
    width: 100vw;
    margin-top: 5px;
}

.lordicon {
    display: none;
}


.logoo img {
    flex-grow: 1;
    padding: 5px 15px;
    width:100px;
    height:auto;
}

#buscador {
    background: #606c88;  /* fallback for old browsers / background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  / Chrome 10-25, Safari 5.1-6 / background: linear-gradient(to right, #3f4c6b, #606c88); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    outline: none;
}



#buscador:focus ::placeholder{
    color: white;


}

.navbar {
    padding: 0 0 !important;
}

#desplega {
    margin: auto;
    width: 100%;
}



@media (min-width: 768px) {








    nav ul li a {

        font-size: 1rem;
        ;
    }

    .lordicon {
        display: inline-block;
        font-size: 1rem;
        width: 100%;

    }

    #buscado {
        width: 70%;
        margin-top: 20px;
        ;

    }

    .separa {
        border-left: 1px solid #fdd900;
    }

    #labarra {
        width: 40vw;
    }

    #buscado input {
        width: 70%;
    }

    nav {
        flex-wrap: nowrap;
    }

    nav ul li a:hover {
        color: #fdd900;
    }

}




@media (min-width: 1200px) {

    
}