<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
    
    <main>
        <div class="contenedor-main">
           <a href="#"> <img class="img-fluid imagen-main" src="img/BATTLEFIELD_2042.jpg" alt="Battlefield 2042"></a>
            <div class="titulo">
                <h1>Los mejores juegos, al mejor precio!</h1>
            </div>
        </div>

<div class="categorias"><p>Los juegos del momento</p></div>

        <section class="container">
            <div class="row d-flex justify-content-around">


            <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/NBA2K_22.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">NBA2K22</h4>
                  <p class="card-text">
                    $60
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              


              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/FIFA_22.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">FIFA22</h4>
                  <p class="card-text">
                    $60
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/EURO_TRUCK_SIMULATOR.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">EURO TRUCK SIMULATOR</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/FARMING_SIMULATOR.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">FARMING SIMULATOR</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/METRO_EXODUS.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">METRO EXODUS</h4>
                  <p class="card-text">
                    $30
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/BATTLEFIELD_2042.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">EURO TRUCK SIMULATOR</h4>
                  <p class="card-text">
                    $60
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/DEAD_BY_DEADLIGHT.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">DEAD BY DYALIGHT</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>
            </div>

            </section>

              <div class="categorias"><p>Lo ultimo en software</p></div>
              <section class="container">
                <div class="row d-flex justify-content-around">
              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/CLAVE_STEAM.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">CODIGO STEAM U$D</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/CODIGO_PLAYSTATION.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">CODIGO PS4 U$D</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/ilustrator.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">LICENCIA ADOBE ILUSTRATOR</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/Office.png" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">PAQUETE OFFICE 365</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/photoshop.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">LICENCIA ADOBE PHOTOSHOP</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/windows_10_pro.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">LICENCIA WINDOWS 10PRO</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/xbox gift card.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">XBOX GIFT CARD U$D</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

            </div>

        </section>

        <div class="carritodecompras">
            <a href="productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        
    </main>
    <%- include('./partials/footer') %>
</body>

</html>