<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
    
    <main>
     <!--    <div class="contenedor-main">
           <a href="#"> <img class="img-fluid imagen-main" src="img/BATTLEFIELD_2042.jpg" alt="Battlefield 2042"></a>
            <div class="titulo">
                <h1>Best game, best price!</h1>
            </div>
        </div> -->
<!-- 
<div class="categorias contenedor-main"><p>Hottest sale games</p></div> -->

  <!--       <section class="container">
            <div class="row d-flex justify-content-around">


            <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/NBA2K_22.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">NBA2K22</h4>
                  <p class="card-text">
                    $60
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              


              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/FIFA_22.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">FIFA22</h4>
                  <p class="card-text">
                    $60
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/EURO_TRUCK_SIMULATOR.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">EURO TRUCK SIMULATOR</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/FARMING_SIMULATOR.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">FARMING SIMULATOR</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/METRO_EXODUS.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">METRO EXODUS</h4>
                  <p class="card-text">
                    $30
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/BATTLEFIELD_2042.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">EURO TRUCK SIMULATOR</h4>
                  <p class="card-text">
                    $60
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/DEAD_BY_DEADLIGHT.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">DEAD BY DYALIGHT</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>
            </div>

            </section>

              <div class="categorias"><p>Latest in software</p></div>
              <section class="container">
                <div class="row d-flex justify-content-around">
              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/CLAVE_STEAM.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">STEAM CODE U$D</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/CODIGO_PLAYSTATION.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">PS4 CODE U$D</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/ilustrator.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1"> ADOBE ILUSTRATOR LICENSE</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/Office.png" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1"> OFFICE 365 PACKAGE</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/photoshop.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1"> ADOBE PHOTOSHOP LICENSE</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/windows_10_pro.jpg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1"> WINDOWS 10PRO LICENSE</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

              <div class="card col-11 position-relative">
                <img class="card-img-top" src="img/xbox gift card.jpeg" alt="NBA2k">
                <div class="card-body position-absolute titulo-juegos d-flex align-content-center">
                  <h4 class="card-title flex-grow-1">XBOX GIFT CARD U$D</h4>
                  <p class="card-text">
                    $25
                  </p>
                  <a href="#!" class="stretched-link"></a>
                </div>
              </div>

            </div>

        </section>

       <!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900&display=swap" rel="stylesheet">
  <title>Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="store">
    <div class="game-card game-card--big">
      <a href="#" class="game-card__wrapper">
        <div class="game-card__image game-card__image--1"></div>
        <div class="game-card__overlay-wrapper">
          <p class="game-card__overlay">Game and demo available now</p>
        </div>
      </a>
    </div>
    <div class="game-card game-card--big">
      <a href="#" class="game-card__wrapper">
        <div class="game-card__image game-card__image--2"></div>
        <div class="game-card__overlay-wrapper">
          <p class="game-card__overlay">Pre-purchase now</p>
        </div>
      </a>
    </div>
    <div class="game-card">
      <a href="#" class="game-card__wrapper">
        <div class="game-card__image game-card__image--3"></div>
        <div class="game-card__overlay-wrapper">
          <p class="game-card__overlay">DLC available now</p>
        </div>
      </a>
    </div>
    <div class="game-card">
      <a href="#" class="game-card__wrapper">
        <div class="game-card__image game-card__image--4"></div>
        <div class="game-card__overlay-wrapper">
          <p class="game-card__overlay">DLC available now</p>
        </div>
      </a>
    </div>
    <div class="game-card">
      <a href="#" class="game-card__wrapper">
        <div class="game-card__image game-card__image--5"></div>
        <div class="game-card__overlay-wrapper">
          <p class="game-card__overlay">Available now</p>
        </div>
      </a>
    </div>
    <div class="game-card">
      <a href="#" class="game-card__wrapper">
        <div class="game-card__image game-card__image--6"></div>
        <div class="game-card__overlay-wrapper">
          <p class="game-card__overlay">Available now</p>
        </div>
      </a>
    </div>
    <div class="game-card">
      <a href="#" class="game-card__wrapper">
        <div class="game-card__image game-card__image--7"></div>
        <div class="game-card__overlay-wrapper">
          <p class="game-card__overlay">Pre-purchase now</p>
        </div>
      </a>
    </div>
    <div class="game-card">
      <a href="#" class="game-card__wrapper">
        <div class="game-card__image game-card__image--8"></div>
        <div class="game-card__overlay-wrapper">
          <p class="game-card__overlay">Available now</p>
        </div>
      </a>
    </div>
    <div class="game-card">
      <a href="#" class="game-card__wrapper">
        <div class="game-card__image game-card__image--9"></div>
        <div class="game-card__overlay-wrapper">
          <p class="game-card__overlay">DLC available now</p>
        </div>
      </a>
    </div>
    <div class="game-card">
      <a href="#" class="game-card__wrapper">
        <div class="game-card__image game-card__image--10"></div>
        <div class="game-card__overlay-wrapper">
          <p class="game-card__overlay">DLC available now</p>
        </div>
      </a>
    </div>
    
    
    
    
    
    
    <div class="game-categories game-categories--big">
      <a href="#" class="game-categories__wrapper game-categories__color--1">
        <div class="game-categories__image game-categories__image--1">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">New <strong><br>Releases</strong></h2>
          <p class="game-categories__subheader">See the newest games for Nintendo Switch. ></p>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--2">
        <div class="game-categories__image game-categories__image--2">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Best-Selling<strong><br>Games</strong></h2>
          <p class="game-categories__subheader">Find out which games are most popular with fans. ></p>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--3">
        <div class="game-categories__image game-categories__image--3">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Indie<strong><br>Games</strong></h2>
          <p class="game-categories__subheader">Spotlight on some of the hottest indie games. ></p>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--4">
        <div class="game-categories__image game-categories__image--4">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Games for<strong><br>Core Gamers</strong></h2>
          <p class="game-categories__subheader">Up for a challenge? Try out these intense titles for experienced gamers. ></p>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--5">
        <div class="game-categories__image game-categories__image--5">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Nintendo Switch Games<strong><br>$9.99 and under</strong></h2>
          <p class="game-categories__subheader">Got a Nintendo eShop Card? Make the most of it. ></p>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--6">
        <div class="game-categories__image game-categories__image--6">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Gotta go fast with<strong><br>Sonic</strong></h2>
          <p class="game-categories__subheader">Celebrate Sonic with the blue speedster greatest hits! ></p>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--7">
        <div class="game-categories__image game-categories__image--7">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Great Role-playing<strong><br>Games</strong></h2>
          <p class="game-categories__subheader">Epic quests await in these RPGs. ></p>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--8">
        <div class="game-categories__image game-categories__image--8">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Jump for joy with<strong><br>Super Mario</strong></h2>
          <p class="game-categories__subheader">Speedrun through video game history with Mario's greatest hits! ></p>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--9">
        <div class="game-categories__image game-categories__image--9">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Games with<strong><br>DLC</strong></h2>
          <p class="game-categories__subheader">Shop for games that have downloadable content(DLC). ></p>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--10">
        <div class="game-categories__image game-categories__image--10">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Games with<strong><br>Demos</strong></h2>
          <p class="game-categories__subheader">Try before you buy with games that offer free demos. ></p>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--11">
        <div class="game-categories__image game-categories__image--11">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Games to Spark<strong><br>Creativity</strong></h2>
          <p class="game-categories__subheader">Build worlds and break new ground at your own pace. ></p>
        </div>
      </a>
    </div>
    <div class="game-categories game-categories--big">
      <a href="#" class="game-categories__wrapper game-categories__color--12">
        <div class="game-categories__image game-categories__image--12">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Nintendo Switch<strong><br>Games</strong></h2>
          <p class="game-categories__subheader">See the entire catalog of games available for Nintendo Switch. ></p>
        </div>
      </a>
    </div>
    <div class="game-categories game-categories--big">
      <a href="#" class="game-categories__wrapper game-categories__color--13">
        <div class="game-categories__image game-categories__image--13">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">All about<strong><br>Nintendo Switch</strong></h2>
          <p class="game-categories__subheader">Discover the home gaming console that you can play anywhere. ></p>
        </div>
      </a>
    </div>
    <div class="game-categories game-categories--big">
      <a href="#" class="game-categories__wrapper game-categories__color--14">
        <div class="game-categories__image game-categories__image--14">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Buy<strong><br>Digital</strong></h2>
          <p class="game-categories__subheader">Find out why it pays to go digital. ></p>
        </div>
      </a>
    </div>
    <div class="game-categories game-categories--big">
      <div href="#" class="game-categories__wrapper game-categories__color--15">
        <div class="game-categories__image game-categories__image--15">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Coming<strong><br>Soon</strong></h2>
          <p class="game-categories__subheader">Check out upcoming game releases. ></p>
        </div>
      </div>
    </div>

  </div> -->
  <!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900&display=swap" rel="stylesheet">
  <title>Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="store">
  
  
    
    <div class="game-categories game-categories--big">
      <a href="#" class="game-categories__wrapper game-categories__color--1">
        <div class="game-categories__image game-categories__image--1">
        </div>
        <div class="game-categories__overlay">
          <h2 a href="../products" class="game-categories__header">New <strong><br>Releases</strong></h2>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--2">
        <div class="game-categories__image game-categories__image--2">
        </div>
        <div class="game-categories__overlay">
          <h2 a href="../products" class="game-categories__header">Best-Selling<strong><br>Games</strong></h2>
        </div>
      </a>
    </div>
    <div class="game-categories">
      <a href="#" class="game-categories__wrapper game-categories__color--3">
        <div class="game-categories__image game-categories__image--3">
        </div>
        <div class="game-categories__overlay">
          <h2 a href="../products" class="game-categories__header">Sports<strong><br>Games</strong></h2>
        </div>
      </a>
    </div>
    
    <div class="game-categories game-categories--big">
      <a href="#" class="game-categories__wrapper game-categories__color--14">
        <div class="game-categories__image game-categories__image--14">
        </div>
        <div class="game-categories__overlay">
          <h2 class="game-categories__header">Buy<strong><br>Software</strong></h2>
          <p  class="game-categories__subheader">Find out why it pays to go digital.</p>
        </div>
      </a>
    </div>
    </div>
  </div>
</body>

</html>
</body>

</html>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>