<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>
    <body>
      <%- include('./partials/header') %>
    <main >
        <div class="articulos container">
            <i class="far fa-times-circle"></i>
            <div class="card-horizontal d-flex ">                
                  <div > <img class="card-img-top" src="img/BATTLEFIELD_2042.jpg" alt="Card image cap"></div> 
                 <div class="card-body">
                  <h4 class="card-title">BATTLEFIELD 2042</h4>
                  <p class="card-text">
                    $60
                  </p>
                  <P class="descripcionjuego">Este juego viene con una clave exclusiva la cual se utilizara una unica vez.</P>
                </div>
              </div>
</div>

<div class="articulos container">
    <i class="far fa-times-circle"></i>
    <div class="card-horizontal d-flex ">                
          <div > <img class="card-img-top" src="img/BATTLEFIELD_2042.jpg" alt="Card image cap"></div> 
         <div class="card-body">
          <h4 class="card-title">BATTLEFIELD 2042</h4>
          <p class="card-text">
            $60
          </p>
          <P class="descripcionjuego">Este juego viene con una clave exclusiva la cual se utilizara una unica vez.</P>
        </div>
      </div>
</div>


<div class="container">
<button type="button" class="btn btn-outline-secondary botones">Vaciar Carrito</button>
<button type="button" class="btn btn-outline-secondary botones">Continuar compra</button>
</div>


    </main>

    <%- include('./partials/footer') %>

    </body>