<footer>
    <div class="pagos">
        <img src="img/mastercard.svg" alt="mastercard">
        <img src="img/pagofacil.svg" alt="pagofacil">
        <img src="img/paypal.svg" alt="paypal">
        <img src="img/visa.svg" alt="visa">
        <img src="img/rapipago.svg" alt="rapipago">
    </div>
    
    <div class="redes">
        <a href="#"><img src="img/600px-Facebook_Logo_(2019).png" alt="Facebook"></a>
        <a href="#"><img src="img/imgbin_youtube-transimperial-ooo-likeservice24-facebook-png.png" alt="intagram"></a>
        <a href="#"><img src="img/imgbin_twitter-png.png" alt="Twitter"></a>
    </div>
    
    
        </footer>
    