<header>

    <nav class="navbar  navbar-expand-md bg-dark d-flex">
        <div class="logoo">
          <a href="index">  <img src="img/Logo.png" alt="logo de NHP Creaciones"></a>
        </div>

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#desplega">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>


        <div id="desplega" class="collapse navbar-collapse">
            <div class="d-flex justify-content-center" id="buscado">
                <input type="search" class="search" id="buscador" placeholder="Buscar">
            </div>

            <div id="labarra">
                <%if (locals.User) {%> 
                <ul class="navbar-nav container justify-content-around flex-nowrap">
                    <li class="nav-item active"><a href="index" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Store</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Sales</a></li>
                    <li class="nav-item"><a href="/users/logOut" class="nav-link">Log Out</a></li>
                    <h6>Hi <%=locals.User.first_name%></h6>
                    <% } else{ %> 
                        <ul class="navbar-nav container justify-content-around flex-nowrap">
                            <li class="nav-item active"><a href="index" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Tienda</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Ofertas</a></li>
                            
                    <li class="nav-item separa"><a href="users/register" class="nav-link">
                            <!-- <lord-icon src="https://cdn.lordicon.com/tdvuekwf.json" trigger="hover"
                                colors="primary:#ffffff,secondary:#fdd900" class="lordicon"> -->
                             
                            </lord-icon>Registrarme
                        </a>
                    </li>
                    <li class="nav-item"><a href="users/login" class="nav-link">
                           <!--  <lord-icon src="https://cdn.lordicon.com/zczmziog.json" trigger="hover"
                                colors="primary:#ffffff,secondary:#fdd900" class="lordicon"> -->
                            </lord-icon>Ingresar
                        </a></li>
                </ul>
            </div>
            <% } %> 
        </div>


    </nav>

</header>